<!DOCTYPE html>
{% load static %}

{% if messages %}
  {% for message in messages %}
    <div class="alert">{{ message }}</div>
  {% endfor %}
{% endif %}


<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود / ثبت‌نام | KermanTrip</title>
    <link rel="stylesheet" href="{% static 'css/logincss.css' %}">
</head>
<body>
  
  <form class="form">
    <p class="form-title">ورود به حساب کاربری</p>
     <div class="input-container">
       <input type="email" placeholder="ایمیل">
       <span>
       </span>
   </div>
   <div class="input-container">
       <input type="password" placeholder="رمز عبور">
     </div>
      <button type="submit" class="submit" href="/panel/">
     ورود
   </button>

   <p class="signup-link">
     No account?
     <a href="/panel/">ثبت نام</a>
   </p>
</form>
 

</body>
</html>
